---
import { SignIn, SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
import Home from "../components/Home.astro"
import About from "../components/About.astro"
import Notice from "../components/Notive.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-gray-600">
    <h1>IEEE</h1>
    {
      session ? (
        <>
          <p>Hola {session.user?.email}</p>
          <SignOut>Cerrar Sesion</SignOut>
        </>
      ) : (
        <>
          <SignIn provider="google"> Iniciar con Google </SignIn>
          <SignIn provider="github"> Iniciar con Github </SignIn>
        </>
      )
    }
    <Home title="Rama Estudiantil IEEE Untels" subTitle="Rama Estudiantil IEEE de la Universidad Nacional Tecnológica de Lima Sur (UNTELS), desde 2011"></Home>
    <Notice title="Bienvenido a la sección de Noticias de la Rama Estudiantil IEEE Untels" subTitle="En esta sección, mantente al tanto de todas las últimas novedades, eventos emocionantes y logros destacados de nuestra comunidad estudiantil IEEE en la Universidad de Tecnología y Ciencias Aplicadas Untels"></Notice>
    <About></About>
  </body>
</html>
