<div class="flex flex-col items-center justify-center gap-8">
    <h2  class="gradient-text text-center font-extrabold tracking-tight text-3xl">Acerca de nosotros</h2>
    <div class="max-w-lg w-full">
        <h2 class="text-2xl font-bold mb-4">Nuestra Misión</h2>
        <p class="mb-4">La misión de la Rama Estudiantil IEEE Untels es fomentar el aprendizaje continuo, la colaboración interdisciplinaria y el liderazgo en el campo de la ingeniería. Nos esforzamos por proporcionar un entorno enriquecedor donde nuestros miembros puedan crecer tanto personal como profesionalmente, mientras contribuyen positivamente a la sociedad a través de la aplicación de la tecnología.</p>
    </div>

    <div class="max-w-lg w-full">
        <h2 class="text-2xl font-bold mb-4">Lo Que Ofrecemos</h2>
        <p class="mb-4">Eventos Educativos y Culturales: Organizamos una amplia variedad de eventos, como conferencias, talleres y charlas, para brindar a nuestros miembros oportunidades de aprendizaje y desarrollo personal.</p>
        <p class="mb-4">Proyectos Innovadores: Fomentamos la creatividad y la innovación a través de proyectos tecnológicos emocionantes que desafían a nuestros miembros a pensar de manera crítica y resolver problemas del mundo real.</p>
        <p class="mb-4">Red de Contactos Profesionales: Facilitamos la conexión entre nuestros miembros y profesionales de la industria a través de eventos de networking y oportunidades de mentoría, ayudando así a nuestros miembros a construir relaciones valiosas para sus futuras carreras.</p>
    </div>

    <div class="max-w-lg w-full">
        <h2 class="text-2xl font-bold mb-4">Únete a Nosotros</h2>
        <p class="mb-4">Si eres un estudiante apasionado por la tecnología y estás interesado en formar parte de una comunidad dedicada a la excelencia en ingeniería, ¡únete a la Rama Estudiantil IEEE Untels! Ya sea que estés buscando expandir tus conocimientos, hacer nuevas amistades o contribuir al avance de la tecnología, ¡hay un lugar para ti en nuestra comunidad!</p>
    </div>

    <div class="max-w-lg w-full">
        <h2 class="text-2xl font-bold mb-4">Contáctanos</h2>
        <p class="mb-4">¿Tienes alguna pregunta o te gustaría saber más sobre nuestra Rama Estudiantil? No dudes en ponerte en contacto con nosotros a través de nuestros canales de comunicación. Estamos aquí para ayudarte en tu viaje hacia el éxito en la ingeniería eléctrica y electrónica.</p>
    </div>
</div>
