---

---

<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50">
  <div class="max-w-7xl mx-auto flex items-center justify-between gap-16">
    <a href="/" class="col-span-1"> </a>
    <nav class="col-span-2 justify-self-center">
      <a
        href="/#about"
        class="text-lg font-bold text-gray-800 hover:text-gray-900 px-4"
        >About</a
      >
      <a
        href="/#projects"
        class="text-lg font-bold text-gray-800 hover:text-gray-900 px-4"
        >Projects</a
      >
      <a
        href="/#contact"
        class="text-lg font-bold text-gray-800 hover:text-gray-900 px-4"
        >Contact</a
      >
    </nav>
    <a
      href="#"
      class="border rounded-full inline-block border-white px-4 py-2
        justify-self-end hover:bg-white hover:text-black duration-300"
    >
      IEEE: OU's Estudiantil UNTELS
    </a>
  </div>
</header>
