<div class="m-full relative">
  <img
  class="absolute top-10 z-10 w-1/2 left-0 right-0 m-auto"
  alt="IEEE UNTELS Pagina Principal de la comunidad universitaria de la UNTELS"
  src="/ieee.jpg" 
/>
</div>
