<section class="text-xl text-left px-20 max-w-[70ch] text-pretty mx-auto my-24">
  <img class="w-20 mb-10 m-auto" src="/ieee.jpg" alt="logo de IEEE" />

  <h1
    class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
  >
    Bienvenidos/as a<br /> la rama estudiantil IEEE UNTELS 2024
  </h1>
  <p>
    La rama estudiantil IEEE UNTELS 2024 es una organización estudiantil sin
    fines de lucro que busca promover la <strong>educación</strong> y la <strong>investigación</strong> en
    ingeniería eléctrica, electrónica, informática y áreas afines.
  </p>
  <p>
    Nuestro objetivo es fomentar el <strong>desarrollo profesional</strong> y <strong>personal</strong> de
    nuestros miembros, así como contribuir al desarrollo de la comunidad a
    través de proyectos de impacto social.
  </p>
</section>
